<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
          akka {
            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            }
            loglevel = INFO
            suppress-json-serializer-warning = on
            log-dead-letters = on
            
            remote {
              log-remote-lifecycle-events = INFO
              dot-netty.tcp {
                hostname = "127.0.0.1"
                port = 2551
              }
            }
          }
      ]]>
		</hocon>
	</akka>
</configuration>