<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
          akka {
            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
			  serializers {
                    hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
              }
              serialization-bindings {
                  "System.Object" = hyperion
              }
            }
            loglevel = INFO
            suppress-json-serializer-warning = on
            log-dead-letters = on
            
            remote {
              log-remote-lifecycle-events = INFO
              dot-netty.tcp {
                hostname = "127.0.0.1"
                port = 2552
				message-frame-size =  300000b
                send-buffer-size =  300000b
                receive-buffer-size =  300000b
                maximum-frame-size = 300000b
              }
            }
          }
      ]]>
		</hocon>
	</akka>
</configuration>