<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
          akka {
            actor {
              provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
			  serializers {
                    hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
              }
              serialization-bindings {
                  "System.Object" = hyperion
              }
            }
            loglevel = INFO
            suppress-json-serializer-warning = on
            log-dead-letters = off
            
            remote {
              log-remote-lifecycle-events = INFO
              dot-netty.tcp {
                hostname = "127.0.0.1"
                port = 2553
              }
            }

            cluster {
              seed-nodes = ["akka.tcp://ClusterSystem@127.0.0.1:4053"]
			  roles= ["router"]

              auto-down-unreachable-after = 10s
            }
          }
      ]]>
		</hocon>
	</akka>
</configuration>