<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {
              provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            }
            loglevel = INFO
            suppress-json-serializer-warning = on
            log-dead-letters = off
            
            remote {
              log-remote-lifecycle-events = INFO
              dot-netty.tcp {
                hostname = "localhost"
                port = 0
              }
            }

            cluster {
              seed-nodes = [
                "akka.tcp://ClusterSystem@akka-test-backend:2551",
                "akka.tcp://ClusterSystem@akka-test-backend:2552"]

              auto-down-unreachable-after = 10s
              min-nr-of-members = 3 #both front-ends and at least 2 back-ends
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>