<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor {
              provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
			  deployment{
			      /router{
				    router = round-robin-pool
					nr-of-instances = 1000
					cluster{
					    enabled = on
						allow-local-routees = off
						use-role = backend
						max-nr-of-instances-per-node = 16
					}
			      }
			  }
            }
            loglevel = INFO
            suppress-json-serializer-warning = on
            log-dead-letters = off
            
            remote {
              log-remote-lifecycle-events = INFO
              dot-netty.tcp {
                hostname = "127.0.0.1"
                port = 0
              }
            }

            cluster {
              seed-nodes = [
                "akka.tcp://ClusterSystem@127.0.0.1:2551"]

              auto-down-unreachable-after = 10s
              min-nr-of-members = 1 #both front-ends and at least 2 back-ends
            }
          }
      ]]>
    </hocon>
  </akka>
</configuration>